<div class="columns">
  <div class="column is-one-quarter">
    <aside class="menu">
      <ul class="menu-list">
        <li><a>Clusters</a></li>
      </ul>
    </aside>
  </div>
  <div class="column">
  </div>
</div>
