<%= render partial: 'shared/title', locals: { title: @cluster.to_human, subtitle: @cluster.description } %>

<div class="tabs">
  <ul>
    <li class="is-active"><%= link_to 'Info', cluster_brokers_path(@cluster) %></a>
    <li><%= link_to 'Topics', cluster_topics_path(@cluster) %></li>
    <li><%= link_to 'Consumer Groups', cluster_consumer_groups_path(@cluster) %></li>
  </ul>
</div>
