<%= render partial: 'shared/title', locals: { title: @cluster.to_human, subtitle: 'Brokers' } %>

<div class="level"a>
  <div class="level-left">
    <div class="level-item" style="margin-left: 0.2rem">
      <p class="subtitle is-5">
        <strong><%= @brokers.count %></strong> brokers
      </p>
    </div>
  </div>
</div>

<table class="table is-striped is-fullwidth is-bordered">
  <thead>
    <th>Id</th>
    <th>Host</th>
    <th>Connection Status</th>
  </thead>
  <tbody>
    <% @brokers.each do |broker| %>
      <tr>
        <td><%= broker.kafka_broker_id %></td>
        <td><%= broker.host %></td>
        <td>
          <% if broker.connected? %>
            <span class="icon has-text-success">
              <i class="fas fa-check-circle"></i>
            </span>
          <% else %>
            <span class="icon has-text-danger">
              <i class="fas fa-times-circle"></i>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
