<%= render partial: 'kafka_command/shared/title', locals: { title: @cluster.to_human, subtitle: @topic.name } %>

<div class="column is-one-third">
  <%= form_tag topic_path(@topic), method: :patch do |f| %>
    <%=
      render(
        partial: 'form_fields',
        locals: {
          retention_bytes_value: @topic.retention_bytes,
          max_message_bytes_value: @topic.max_message_bytes,
          retention_ms_value: @topic.retention_ms,
          partitions_value: @topic.partitions.count
        }
      )
    %>
  <% end %>
</div>
