<%= render partial: 'shared/title', locals: { title: @cluster.to_human, subtitle: 'Consumers' } %>

<div class="level"a>
  <%=
    render(
      partial: 'shared/search_bar',
      locals: {
        resources: @groups,
        resource_name: 'consumer',
        resource_path: cluster_consumer_groups_path,
        filter_property: :group_id
      }
    )
  %>
</div>

<div class="columns">
  <div class="column is-5">
    <table class="table is-striped is-bordered is-fullwidth">
      <thead>
        <th>Group Id</th>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.group_id, consumer_groups_path(group) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
