<% if flash[:success] %>
  <article class="message is-small is-success">
    <div class="message-body">
      <%= flash[:success].html_safe %>
    </div>
  </article>
<% elsif flash[:error] %>
  <article class="message is-small is-danger">
    <div class="message-body">
      <%= format_flash_errors %>
    </div>
  </article>
<% end %>
